sudo: false
dist: trusty
language: java

script: "mvn clean install"

addons:
  hostname: localhost
  apt:
    packages:
      - oracle-java8-installer
      #- openjdk-8-jdk

jdk:
  - openjdk7
  - oraclejdk7
  - openjdk8
  - oraclejdk8
