sudo: false
dist: trusty
language: java

install: false
script: travis_wait mvn install

addons:
  hostname: localhost
  apt:
    packages:
      - oracle-java8-installer
      #- openjdk-8-jdk

jdk:
  - openjdk7
  - oraclejdk7
  #- openjdk8
  - oraclejdk8
